*{
    margin: 0;
    padding: 5px;
    font-family: sans-serif;
}

body{
    background: rgb(54, 164, 184);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.container{
    width: 300px;
    height: 350px;
    background: #fff;
    padding: 0 15px;

}

.visor{
    width: 70%;
    height: 20px;
    margin: 10px;
    background-color: rgb(224, 185, 54);
    border: 2px solid;
    text-align: right;
}

