*{
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background: rgb(54, 164, 184);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.container{
    width: 300px;
    height: 200px;
    background: #fff;
    padding: 0 15px;

}

input {
    margin: 10px;
    padding: 5px;
}

h1 {
    text-align: center;
}

.error {
    color: rgba(219, 14, 14, 0.842);
}